.board{
    .frame{
        position: relative;
        margin: auto;
        width: 1000px;
        height: 1048px;
        background-image: url(src/images/interface.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;

        .puzzle{
            background-color: #E1E1E1;
            width: 80.9%;
            height: 77.2%;
            border-radius: 5px;

            left: 85px;
            top: 196px;
            position: absolute;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}