.levelDifficulty
{
        .buttons{
            text-align: center;
            padding: 28px 0;
            button{
                width: 100px;
                margin-left: 10px;
                height: 30px;
                cursor: pointer;
            }
    }
}



