.board{
    
}
.board .frame{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 1048px;
    background-image: url(../images/interface.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.board .frame img {
    width: 100%;
    height: auto;
}

.block{
    width:80px;
    height:80px;
    background-color: #666;
    position: absolute;
}

.board .frame .puzzle{
    left: 85px;
    top: 196px;
    position: absolute;

}