.board{
    
}
.board .frame{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 1048px;
    background-image: url(../images/interface.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.board .frame img {
    width: 100%;
    height: auto;
}

.block{
    width:79px;
    height:79px;
    background-color: #666;
    position: absolute;
    background-size: 79px 79px;
    background-repeat: no-repeat;
}

.board .frame .puzzle{
    left: 85px;
    top: 196px;
    position: absolute;

}
.block.clicked{
    background-color: #999;
    color:#111;
}

.block.bigMine{
    background-image: url(../images/BigMine.png);
    background-size: 75px 75px;
}
.block.mediumMine{
    background-image: url(../images/MediumMine.png);
}
.block.smallMine{
    background-image: url(../images/SmallMine.png);
}