.menu{
    position: relative;
        margin: auto;
        width: 1600px;
        height: 99%;
        background-image: url(src/images/menu.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        .itemsContainer{
            top: 51%;
            text-align: center;
            margin: auto;
            position: relative;
            font-size: 40px;
            -webkit-transform: rotateX(38deg); /* Safari */
            transform: rotateX(38deg);
            .item{
                margin-bottom: 10px;
                clear: both;
                font-family: 'FunkyFont',cursive;
                &:hover{
                    cursor: pointer;
                    color: rgb(11, 21, 158);
                }
            }
        }
        div{
            height: auto;
        }
}

@font-face {
    font-family: 'FunkyFont';
    src: url('src/fonts/FunkyFont.ttf'); /* IE9 Compat Modes */
    src: url('src/fonts/FunkyFont.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('src/fonts/FunkyFont.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

  @media screen and (max-width: 640px), screen and (max-height: 800px) {
    .menu{
        .popup{
            height:100%;
        }
    }
  }